{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "password" : "pwd",
          "roles" : [ "admin" ],
          "username" : "admin"
        }, {
          "password" : "pwd",
          "roles" : [ "support" ],
          "username" : "support"
        }, {
          "password" : "pwd",
          "roles" : [ "beta" ],
          "username" : "beta_t1"
        } ],
        "extensions" : [ ]
      },
      "classPath" : [ ],
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "icon" : null,
    "webFolder" : "",
    "langFolder" : "${webswing.rootDir}/lang",
    "homeDir" : "${user.dir}",
    "swingConfig" : null,
    "enabled" : true
  },
  "/unicentaopos" : {
    "path" : "/unicentaopos",
    "enabled" : true,
    "homeDir" : "${webswing.rootDir}/unicentaopos",
    "webFolder" : "",
    "langFolder" : "${webswing.rootDir}/lang",
    "icon" : "unicentaopos/unicentaopos.png",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ],
      "config" : null,
      "authorizationConfig" : {
        "users" : [ "admin", "beta_t1" ],
        "roles" : [ "admin", "beta" ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "autoLogout" : true,
      "name" : "APTC ePOS",
      "theme" : "Agualemon",
      "fontConfig" : {
        "dialog" : "${webswing.rootDir}/fonts/arial.ttf",
        "dialoginput" : "${webswing.rootDir}/fonts/arial.ttf",
        "sansserif" : "${webswing.rootDir}/fonts/arial.ttf",
        "monospaced" : "${webswing.rootDir}/fonts/cour.ttf"
      },
      "directdraw" : true,
      "javaFx" : false,
      "debug" : true,
      "userDir" : "${user}",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xms64m -Xmx256m -DauthorizedUser=${user}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "args" : null,
        "mainClass" : "com.openbravo.pos.forms.StartPOS"
      },
      "maxClients" : 5,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowStealSession" : true,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "allowLocalClipboard" : true,
      "classPathEntries" : [ "unicentaopos.jar" ],
      "allowedCorsOrigins" : [ ],
      "transparentFileOpen" : true,
      "clearTransferDir" : true,
      "transparentFileSave" : true,
      "goodbyeUrl" : "",
      "transferDir" : "${user}/upload",
      "monitorEdtEnabled" : true,
      "allowServerPrinting" : false
    }
  }
}